node_modules
public/
storage/
/www/vendor
.idea
/.vscode
/.vagrant
/phpmyadmin
/tests
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
www/public/*/css/app.css
www/public/*/js/app.js
xhprof_*